<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneyapp3">

    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="moneyapp3"
        android:icon="@mipmap/ic_launcher">

    </application>
</manifest>
